@tailwind base;
@tailwind components;
@tailwind utilities;


.padding-x {
    @apply px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-64
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    scrollbar-width: none;
}

/* Swiper */
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
    @apply transition-colors duration-200 ease-in-out !opacity-100
}

.swiper__navigation-btn {
    color: transparent;
}
.swiper:hover ~ .swiper__navigation-btn {
    color: white;
    @apply transition-colors duration-200 ease-in-out 
}

.swiper-button-next {
    @apply bg-primary !right-0 !w-10 !h-10 opacity-0
}

.swiper-button-prev {
    @apply bg-primary !left-0 !w-10 !h-10 opacity-0
}

.swiper-button-next::after {
    @apply text-white opacity-0
}

.swiper-button-prev::after {
    @apply text-white opacity-0
}
